.box1{
    width: 300px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
}
.text{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 0 auto;
}
.title{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 25px;
}
.dream{
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin: 0 auto;
}
.clone{
    width: 300px;
    height: 200px;
    background-color: brown;
     
}
.block1{
    width: 450px;
    height: 350px;
    background-color: rgb(124, 45, 45);
    transition: 0.6s all ease;
}

.box {
    width: 300px;
    height: 300px;
    background-color: rgb(245, 0, 0);
    border-radius: 300px;
    margin: 40px 0px;
    transition: 0.6s all ease;
}

.item {
    width: 360px;
    height: 205px;
    background-color: rgb(0, 255, 98);
    box-shadow: 0px 10px 25px black;
    transition: 0.6s all ease;
}

.contant {
    width: 400px;
    height: 250px;
    background-color: rgba(137, 1, 103, 0.479);
    border-radius: 20px;
    margin: 40px 0px;
    transition: 0.6s all ease;
}

.container {
    width: 300px;
    height: 400px;
    background-color: black;
    box-shadow: 0px 20px 20px rgb(239, 159, 0);
    transition: 0.6s all ease;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.block1:hover {
    background-color: brown;
    transform: scale(0.8);
    box-shadow: 0px 10px 50px rgb(21, 0, 178);
}

.box:hover {
    background-color: rgb(3, 153, 86);
    transform: translateY(50px);
    box-shadow: 0px 10px 50px rgb(80, 0, 52);
}

.item:hover {
    background-color: rgb(2, 60, 0);
    transform: translateX(30px);
    box-shadow: 0px 10px 50px rgb(153, 17, 17);
}

.contant:hover {
    background-color: rgb(213, 1, 86);
    transform: scale(1.5);
    box-shadow: 0px 10px 50px rgb(1, 20, 71);
}

.container:hover {
    background-color: rgb(158, 133, 8);
    transform: scale(0.5);
    box-shadow: 0px 10px 50px rgb(14, 135, 0);
}